<nav class="navbar navbar-expand-md my-bg shadow-lg sticky-top">
    <a class="navbar-brand text-dark" href="#" id="website-title"><span style="color: lightcoral">GRA</span><span>VITY</span></a>
    <i class="fa fa-bars navbar-toggler nav-icon" data-toggle="collapse" data-target="#mobile-menu" style="font-size: 35px;color:black;"></i>
    <div class="collapse navbar-collapse" id="mobile-menu">
        <ul class="navbar-nav ml-auto" id="navbar-li">
            <!-- <li class="nav-item mr-3"><a href="/image" class="nav-link" style="color: crimson;">IMAGE</a></li>
            <li class="nav-item mr-3"><a href="/audio" class="nav-link" style="color: deeppink;">AUDIO</a></li>
            <li class="nav-item mr-3"><a href="/video" class="nav-link" style="color: tomato;">VIDEO</a></li>
            <li class="nav-item mr-3"><a href="/doc" class="nav-link" style="color: slateblue;">DOCS</a></li> -->
            <li class="nav-item dropdown mr-3">
                <a class="nav-link dropdown-toggle text-danger" data-toggle="dropdown">Storage</a>
                <div class="dropdown-menu p-0">
                    <a class="dropdown-item" href="/image" style="color: crimson;">Image</a>
                    <a class="dropdown-item" href="/audio" style="color: deeppink;">Audio</a>
                    <a class="dropdown-item" href="/video" style="color: tomato;">Video</a>
                    <a class="dropdown-item" href="/doc" style="color: slateblue;">Docs</a>
                </div>
            </li>
            <li class="nav-item dropdown mr-3">
                <a class="nav-link dropdown-toggle text-success" id="navbarDropdown" role="button" data-toggle="dropdown">
                Profile
                </a>
                <div class="dropdown-menu p-0">
                    <a class="dropdown-item text-dark" href="/profile">Profile</a>
                    <a class="dropdown-item text-dark" href="/bin">Bin</a>
                    <a class="dropdown-item text-dark" href="/history">Share</a>
                </div>
            </li>
            <li class="nav-item dropdown mr-3">
                <a class="nav-link dropdown-toggle text-success" data-toggle="dropdown">
                    <i class="fa fa-comments-o" aria-hidden="true" style="font-size: 20px; color: darkblue;"></i>
                </a>
                <div class="dropdown-menu p-0">
                    <a class="dropdown-item text-dark" href="/chat">Private Chat</a>
                    <a class="dropdown-item text-dark" href="/group">Group Chat</a>
                </div>
            </li>
            <!-- <li class="nav-item mt-2"><a href="/chat"><i class="fa fa-comments-o" aria-hidden="true" style="font-size: 20px; color: darkblue;"></i></a></li> -->
        </ul>
    </div>
</nav>