<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<meta lang="en-US">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<header>
		<p id="para">Text Editor Version 1.0</p>
		<button id="bold">bold</button>
		<button id="italic">italic</button>
		<button id="line">underline</button>
		<button id="delete">delete</button>
		<button id="bold">superscript</button>
		<button id="bold">subscript</button>
		<button id="undo">undo</button>
		<button id="redo">redo</button>
		<button id="left">left</button>
		<button id="right">right</button>
		<button id="center">center</button>
	</header>
	<div id="page" contenteditable="true" spellcheck="false"></div>
	<script src="script.js"></script>
</body>
</html>