<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/watchvideo/skin/skin.css">
        <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
        <script src="/watchvideo/flowplayer.min.js"></script>
    </head>
    <body>
        <div class="flowplayer" data-swf="flowplayer.swf" data-ratio="0.4167">
            <video>
               <source type="video/mp4" src="/<%= result[0].videoid %>/watchvideo/<%= videoname %>">
            </video>
         </div>
      
        <script>
        </script>
    </body>
</html>