<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% include partials/head.ejs %>
    <title>Document</title>
</head>
<body>
            <% include partials/navbar.ejs %>
                <div class="container-fluid p-3 p-lg-5 text-center my-bg1 text-white animated slideInDown">
                <div class="carousel slide" data-ride="carousel" data-interval="5000" id="header-slider">
                        <ol class="carousel-indicators">
                            <li data-target="#slider" data-slide-to="0" class="active"></li>
                            <li data-target="#slider" data-slide-to="1"></li>
                            <li data-target="#slider" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <h1 class="add-header"></h1>
                                <p class="add-desc mt-3 animated lightSpeedIn slower">WROLD'S LATGEST CLOUD STORAGE</p>
                                <button class="btn btn-danger text-light px-lg-5 my-2 py-lg-3 mr-lg-3 my-lg-5 animated zoomIn slower">TAKE A DISICION</button>
                                <button class="btn btn-light text-dark px-lg-5 my-2 py-lg-3 ml-lg-3 my-lg-5 animated zoomIn slower">VIEW ADVANTAGE</button>
                            </div>
                            <div class="carousel-item">
                                <h1 class="first-add-header animated flip slower">UNLIMITED STORAGE FOR 1YR</h1>
                                <button class="btn btn-danger text-light px-lg-5 my-2 py-lg-3 mr-lg-3 my-lg-5 animated zoomIn slower">BE SAFE, STAY SAFE</button>
                                <button class="btn btn-light text-dark px-lg-5 my-2 py-lg-3 ml-lg-3 my-lg-5 animated zoomIn slower">EXPLORE THE GRAVITY</button>
                            </div>
                            <div class="carousel-item">
                                <h1 class="second-add-header animated slideInRight slower">KEEP PRIVATE YOUr DATA</h1>
                                <p class="add-desc mt-3 animated zoomIn slower">SECURITY AT THE HIGHEST LEVEL</p>
                                <button class="btn btn-danger text-light px-lg-5 my-2 py-lg-3 mr-lg-3 my-lg-5 animated zoomIn slower">STORE FILE</button>
                                <button class="btn btn-light text-dark px-lg-5 my-2 py-lg-3 ml-lg-3 my-lg-5 animated zoomIn slower">VIEW ANY TIME</button>
                            </div>
                        </div>
                    </div>
                    </div>
        <div class="jumbotron">
                <div class="row">
                        <div class="col-md-4 mb-5">
                            <div class="card animated wow slideInleft">
                                    <div class="card-header bg-danger text-light text-center">
                                            <h5>STARTER PLANS</h5>
                                        </div>
                                        <div class="card-body text-center">
                                            <h1>$10/ MO</h1>
                                            <hr>
                                            <span>STATIC APPS</span>
                                            <HR>
                                            <SPAN>SPECIALLY FOR ANDROID</SPAN>
                                            <HR>
                                            <SPAN>LOAD TIME FASTER</SPAN>
                                            <HR>
                                            <SPAN>NO FUTURE UPDATES</SPAN>
                                            <HR>
                                            <SPAN>NO CUSTOMER SUPPORTS</SPAN>
                                            <HR>
                                            <SPAN>PAID MAINTENENCE</SPAN>
                                        </div>
                                        <div class="card-footer bg-danger text-light text-center">
                                            <button class="btn bg-light p-2"><a href="#" class="text-decoration-none text-dark">More Info</a></button>
                                        </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-5">
                            <div class="card animated wow slideInDown">
                                    <div class="card-header bg-warning text-light text-center">
                                            <h5>STARTER PLANS</h5>
                                        </div>
                                        <div class="card-body text-center">
                                            <h1>$10/ MO</h1>
                                            <hr>
                                            <span>STATIC APPS</span>
                                            <HR>
                                            <SPAN>SPECIALLY FOR ANDROID</SPAN>
                                            <HR>
                                            <SPAN>LOAD TIME FASTER</SPAN>
                                            <HR>
                                            <SPAN>NO FUTURE UPDATES</SPAN>
                                            <HR>
                                            <SPAN>NO CUSTOMER SUPPORTS</SPAN>
                                            <HR>
                                            <SPAN>PAID MAINTENENCE</SPAN>
                                        </div>
                                        <div class="card-footer bg-warning text-light text-center">
                                            <button class="btn bg-light p-2"><a href="#" class="text-decoration-none text-dark">More Info</a></button>
                                        </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-5">
                            <div class="card animated wow slideInRight">
                                    <div class="card-header bg-success text-light text-center">
                                            <h5>STARTER PLANS</h5>
                                        </div>
                                        <div class="card-body text-center">
                                            <h1>$10/ MO</h1>
                                            <hr>
                                            <span>STATIC APPS</span>
                                            <HR>
                                            <SPAN>SPECIALLY FOR ANDROID</SPAN>
                                            <HR>
                                            <SPAN>LOAD TIME FASTER</SPAN>
                                            <HR>
                                            <SPAN>NO FUTURE UPDATES</SPAN>
                                            <HR>
                                            <SPAN>NO CUSTOMER SUPPORTS</SPAN>
                                            <HR>
                                            <SPAN>PAID MAINTENENCE</SPAN>
                                        </div>
                                        <div class="card-footer bg-success text-light text-center">
                                            <button class="btn bg-light p-2"><a href="#" class="text-decoration-none text-dark">More Info</a></button>
                                        </div>
                            </div>
                        </div>
                    </div>
        </div>
        <div class="container-fluid bg-dark">
            <div class="row">
                <div class="col-md-6 p-3">
                    <p class="display-4 text-danger animated infinite pulse text-center">ANY QUERY!</p>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-success" style="color:white; border-color:#28A745;">
                                <i class="fa fa-user"></i>
                            </span>
                        </div>
                                    <input required type="text" placeholder="Your name" class="form-control border-left-0" style="" id="login-email">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-success" style="color:white; border-color:#28A745;">
                                <i class="fa fa-phone-square"></i>
                            </span>
                        </div>
                                    <input required type="number" placeholder="Phone Number" class="form-control border-left-0" style="" id="login-email">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-success" style="color:white; border-color:#28A745;">
                                <i class="fa fa-envelope"></i>
                            </span>
                        </div>
                                    <input required type="Email" placeholder="Email" class="form-control border-left-0" style="" id="login-email">
                    </div>
                    <button type="submit" class="btn btn-success float-left">SEND US</button>
                </div>
                <div class="col-md-6 text-light px-lg-5" style="padding-top: 95px;">
                        <h5 class="mb-0">Address</h5>
                        <address>Bonai, Sabang, Paschim Medinipur</address>
                        <h5 class="mb-0">Contact Number</h5>
                        <address>7407878778, 8967998601</address>
                        <h5 class="mb-0">Email</h5>
                        <address>sankhadip.2000@gmail.com</address>
    
                </div>
            </div>
        </div>
        <script>
            console.log(document.cookie);
            var data="<%= userid %>"
            localStorage.setItem("email",data);
            $(document).ready(function()
            {
                $(".nav-icon").click(function()
                {
                    $("#mobile-menu").collapse('toggle');
                    $("#mobile-menu").addClass("animated slideInRight faster")
                })
            })
        </script>
        <script src="/welcome/wow.min.js"></script>
        <script src="/welcome/welcome.js"></script>   
</body>
</html>